.main-wrap{
  min-height: 80vh;
}

nav.navbar{
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
}

.navbar-wrap img{
  height: 50px;
}

.navbar-brand h1{
  margin: 0;
  font-size: 22px;
}

.site-theme button{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-theme.dark button svg{
  width: 35px;
  height: 35px;
}

.site-theme.light button svg{
  width: 30px;
  height: 30px;
}

.site-theme.dark button:hover{
  background-color: rgba(246, 247, 249, .05);
}

.site-theme.light button:hover{
  background-color: rgba(35,39,47,.05);
}

